#desc {
	display: block;
	box-sizing: border-box;
	width: 100%;
	padding: 0.7rem 1rem;
	border: 1px solid #ced4da;
	border-radius: 0.25rem;
	resize: none;
}
.card {
	cursor: default;
}
.badge {
	font-size: 0.8rem;
}
.card-title {
	border-bottom: 3px solid black;
}
i {
	font-size: 1.4rem;
}
.fa-edit:hover {
	color: rgb(7, 192, 7);
}
.fa-trash-alt:hover {
	color: red;
}
